
@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-md-10" style="padding-bottom: 10px;">
        <h2>Hello Treehouse!</h2>
        <p>
            I created this streaming video page and added my source to the GitHub repository below as an example of my code.
            Please view the video here or download a copy below.  You can also download a copy of my curriculum example in a link below.
        </p>
    </div><br />
    <div class="col-md-9">
        <video width="720" height="576" controls="controls">
            <source src='@Url.Content("~/api/Video/mp4")' type="video/mp4">
            <source src='@Url.Content("~/api/Video/webm")' type="video/webm">
            <source src='@Url.Content("~/api/Video/ogv")' type="video/ogv">
        </video>
    </div>
    <div class="col-md-3" style="padding-left: 20px;">
        <p style="font-weight:bold;">ASP.NET MVC Sample Curriculum</p>
        <ol>
            <li>
                MVC Pattern Intro
                <ol>
                    <li>Testability</li>
                    <li>Separation of Concerns</li>
                </ol>
                <ol>
                    <li>
                        Components
                        <ol>
                            <li>
                                Models
                                <ol>
                                    <li>Add a model</li>
                                </ol>
                            </li>
                        </ol>
                    </li>
                    <li>
                        Controllers
                        <ol>
                            <li>Add a controller</li>
                        </ol>
                    </li>
                    <li>
                        Views
                        <ol>
                            <li>
                                Add a typed view
                            </li>
                            <li>Razor Syntax</li>
                            <li>Html helpers</li>
                            <li>Layouts</li>
                        </ol>
                    </li>
                    <li>Model Validation</li>
                    <li>Routing</li>
                    <li>Filters</li>
                </ol>
        </ol>
    </div>
    <div class="col-md-3"><h4>Links</h4>
        <p><a target="_blank" href="@Url.Content("~/Content/documents/MVCCurriculum.docx")"><span>MVC Curriculum Example</span></a></p>
        <p><a target="_blank" href="@Url.Content("~/Content/videos/video.mp4")"><span>Download the video</span></a></p>
        <p><a target="_blank" href="https://github.com/carlingkirk/CarlingKirk.com"><span>The GitHub Repo</span></a></p>
    </div>
</div>